@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #161a1d;
    background-color: #161a1d;

}

.container {
    max-width: 2000px;
    margin: 10px 0px;
    padding: 10px;
}

.header {
    text-align: center;
    background: linear-gradient(135deg, #660708 0%, #0b090a 100%);
    color: #f5f3f4;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    margin: 5px 0;
    font-size: 24px;
    
}

.checklist {
    color: #f5f3f4;
}

.row {
    display: flex;
    flex-wrap: wrap;
    background: #161a1d;
    padding: 15px 5px 5px 5px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.filters-row-1 {
    background: #660708;
    color: #f5f3f4;
    text-align: center;

}
.filters-row-2 {
    background: #a4161a;
    color: #f5f3f4;
    text-align: center;

}
.filters-row-3 {
    background: #ba181b;
    color: #f5f3f4;
    text-align: center;

}

.four.columns {
    margin: 10px 10px;
    margin: 35px 5px 5px 5px;
    padding: 5px;
    height: 450px;
}



.map-container {
    background: #161a1d;
    text-align: center;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    height: 450px;
    margin: 10px 0;
    color: #f5f3f4;

    

}



